<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<% if @user.avatar.attached? %>
<%= image_tag(@user.avatar, style:"width: 500px; height: 500px") %>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
